        body { background: #1a472a; font-family: sans-serif; display: flex; justify-content: center; padding-top: 50px; color: #333; }
        .card { background: white; padding: 20px; border-radius: 15px; width: 90%; max-width: 400px; text-align: center; box-shadow: 0 10px 20px rgba(0,0,0,0.3); }
        .option { background: #eee; margin: 10px 0; padding: 12px; border-radius: 8px; cursor: pointer; transition: 0.2s; }
        .option:hover { background: #ddd; }
        .correct { background: #27ae60 !important; color: white; }
        .wrong { background: #c0392b !important; color: white; }
        .disabled { pointer-events: none; }
        #next-btn { background: #c0392b; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; display: none; margin-top: 15px; width: 100%; }
/* From Uiverse.io by andrew-demchenk0 */ 
.glitch {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  animation: shift 1s ease-in-out infinite alternate;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #8b00ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #00e571;
  z-index: -2;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  to {
    transform: translate(0);
  }
}

@keyframes shift {
  0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
    transform: skewX(0deg);
  }

  41% {
    transform: skewX(10deg);
  }

  59% {
    transform: skewX(40deg) skewY(10deg);
  }

  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}
